@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

/* Add CSS styling here */
/*reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
    box-sizing: border-box;
    border: 1px solid grey;
    max-width: 100%;
}
/*General styles here*/
html{
    62.5%
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Cormorant Garamond', serif;
}

section{
    padding: 4% 0;
}

h1{
    font-family: 'Syne', sans-serif;
    letter-spacing: 3px;
    padding: 4% 0;
    font-size: 4rem;
}
/*This is the header section style*/
header{
    height: 90vh;
    background-color: mediumturquoise;
}
nav{
    display:flex;
    justify-content: flex-start;
}
#about nav a{
    width: 15%;
    display: inline-block;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: palevioletred;
    padding: 1% 0;
}
#about nav .black{
    background-color: black;
}
.headerContent .profilepic{
    size: 30%;
}
button {
    color:white;
    background-color: palevioletred;
    font-size:16px;
  }
/*This is the intro section style*/
section{

}
/*This is the photo section style*/
section{

}
/*This is the footer style*/
footer{

}
